/**  styles **/
body {
    font-family: 'Montserrat', Helvetica, sans-serif
}
.header--main {
    width:100%;
    height: calc(100vh - 100px);
    background:black;
    padding-top: 30px;
}
nav.header--main-nav {
    height: 60px;
    border-radius: 20px;
    background: #DB661C !important;
}
a.navbar-brand {
    color:white !important;
}
div.header--main-nav-col {
    width:calc(100vw / 3) !important;
}
.logo-box-nav {
    background: black;
    height: 60px;
    width: 200px;
    margin:0 auto;
}
.logo-box--nav-img {
    width: 100px;
    margin:0 auto;
}
.header--main-nav-link {
    padding-top: 20px;
    font-size: 20px;
    color: white;
    margin-top: 15px;
}
.header--main-nav-items {
    display: inline-flex;
    list-style-type: none;
}
.header--main-nav-items li {
    padding: 20px;
    padding-top: 30px;
    color:white;
}
.header--main-nav-items.r {
    margin-left: -30px
}
.header-content-right--img {
    width: 250px;
}
.mt-5 {
    margin-top: 65px !important; 
}
.header-text {
    font-size: 3em;
    color: white;
    margin-top: 30px !important;
    font-weight: 700;
}
.header-text--sub {
    font-size:1em;
    color:white;
    text-align: left;
    font-family: Helvetica;
    font-weight: 300;
}
button.header-cta {
    width:auto;
    padding-top:15px;
    padding-bottom: 15px;
    background: #DB661C;
    border:0px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0 2px 2px 0 hsla(0,0%,44%,.14), 0 3px 1px -2px hsla(0,0%,44%,.12), 0 1px 5px 0 hsla(0,0%,44%,.2);
}
.slideDown, i.zmdi {
    color:white;
    display: flex;
    align-self: center;
    margin:0 auto;
    margin-top:50px;
}
i.zmdi {
    font-size: 30px;
}
button.slider {
    width:70px;
    margin-top: 40px;
    height: 5px;
    background:white;
    border:0px;
    margin-right: 10px;
}
button.slider.active {
    background: #DB661C;
}
section.believers--main {
    height: 80px;
    border-bottom: 1px solid lightgray;
    font-family: Helvetica;
}
.border-right {
    border-right: 1px solid lightgray;
    height: calc(initial + 20px);
}
.prtner-logo {
    width:90%;
    margin-top: 15px;
}
.stretch-height {
    height:100%;
}
#border-last {
    border-right: 0px !important;
}
section.how-it-works {
    margin-top: 20px;
    margin-bottom:20px;
}
.header--caption {
    font-size:1.5em;
    font-weight: 500;
    display: flex;
    justify-content: center;
}
.wrapper-section {
    margin-bottom:40px;
}
.trans_circle {
    height: 70%;
}
b.content-number {
    font-size: 3em;
    color:#DB661C;
}
.text-color {
    color:#DB661C;
}
.how-it-works--img {
    width: 100%;
}
.bold {
    font-weight: 600;
    color:#DB661C;
}
.believer--main-content {
    margin-top: -250px;
    margin-left: 90px;
}
.font-x3 {
    font-size:20px;
}
.small-text {
    font-size: 15px;
    line-height: 2em;
}
button {
    font-family: Helvetica;
}
.button-outline {
    background: white !important;
    border: 1px solid #DB661C !important;
    color:#DB661C !important;
}
i.icon {
    padding-left: 10px;
}
.how-it-works-detailed {
    background:black;
    background-image: url('img/stars-background.png');
    height: 100%;
    background-position: top right;
    background-size: auto;
}
.small-header {
    display: flex;
    justify-content: center;
    color: white;
    font-family: Helvetica;
    font-size: 20px;
}
.content-header {
    padding-top: 20px;
    padding-bottom:30px;
}
.ve-padding {
    padding-top:-20px !important;
    color: #DB661C !important;
}
div.illustration {
    height: 10em;
    width: 10em;
    border-radius: 10em;
    background:white;
}
div.detailed-illustration {
    margin-top:20px;
    margin-bottom: 40px;
    padding-bottom:50px;
}
.illustration-no {
    border:0px;
    width:3em;
    height: 3em;
    background:#DB661C;
    border-radius: 3em;
    color:white;
    box-shadow: 0 2px 2px 0 hsla(0,0%,44%,.14), 0 3px 1px -2px hsla(0,0%,44%,.12), 0 1px 5px 0 hsla(0,0%,44%,.2);
}
img.illustration-small--img {
    height:6em;
    width:8em;
    border-radius: 8em;
    margin:0 auto;
    margin-left: 15px;
    margin-top: -10px;
}
.center-row {
    margin: 0 auto;
}
span.illustration-caption-head {
    color: white;
    padding-top: 10px;
}
span.illustration-caption-head--sub {
    color: white;
    padding-top: 10px;
    font-family: Helvetica;
    font-weight: 300;
    font-size: 13px;
}
.ve-margin-text {
    margin-left: -80px;
}
img.social-media--icons {
    width: 90%;
    filter: grayscale(100%);
}
.margin-bottom {
    margin-bottom:60px;
}
section.footer-section {
    background:#E4E4E4;
    height:500px;
}
footer.footer {
    padding-top:70px;
}
.footer-cap-header {
    font-size: 20px;
    padding-bottom: 20px;
    font-weight: 600;
    font-family: Helvetica;
}
li.footer-list {
    padding-top: 20px;
    list-style-type: none;
    font-family: Helvetica;
}